
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
@import url(http://fonts.googleapis.com/css?family=Sintony);

html, body,
h1, h2, h3, h4, h5, p {
	color: #333;
	font-weight: 400;
}
html, body {
    min-height: 100%;
	width: 100%;
}
html,
body,
input,
textarea {
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", Roboto, sans-serif;
    font-size: 15px;
}
html,
body,
.wrap {
    min-height: 100%;
}

body {
    padding: 0;

	width: 800px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -400px;
}

.wrap {
    width: 100%;
    position: relative;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    padding: 40px 0 100px 0;
}

/**
 * Headers and basic paragraph
 */

h1, h2, h3, h4, h5 {
	font-weight: 200;
}
h1, h2 {
}
h1, h2, h3 {
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 26px;
	font-weight: 400;
	margin: 24px 0 12px 0;
}
h3 {
	font-size: 21px;
	font-weight: 300;
	margin: 18px 0 9px 0;
}
h4 {

}
h5 {

}

a {
	-webkit-transition: background 100ms linear 0s, color 100ms linear 0s;
	-moz-transition: background 100ms linear 0s, color 100ms linear 0s;
	-ms-transition: background 100ms linear 0s, color 100ms linear 0s;
	-o-transition: background 100ms linear 0s, color 100ms linear 0s;
	transition: background 100ms linear 0s, color 100ms linear 0s;
}
a,
a:focus,
a:visited,
a:active {
	text-decoration: none;
    color: #999;
}
a:hover {
	text-decoration: underline;
    color: #222;
}

input,
select,
textarea {
    border-radius: 2px;
    border: 1px solid #ccc;
}

li {
	list-style-type: lower-greek;
	margin: 1px 0 1px 32px;
}

p {
	font-size  : inherit;
	font-weight: 400;
	text-align : justify;

    margin-bottom: 9px;
}
/* The text indentation on following paragraphs */
p + p {
	text-indent: 32px;
}

/**
 * Topbar
 */

.topbar,
footer {
	font-size: 16px;
	font-family: calibri;

	padding: 0 25px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding: 6px 0;
	border-bottom: 1px solid #e2e2e2;
}

/**
 * Footer
 */
.topbar,
.topbar-link,
.topbar-link:hover,
.topbar-link:visited,
.topbar-link:active,
footer,
.footer-link,
.footer-link:hover,
.footer-link:focus,
.footer-link:visited,
.footer-link:active {
	color: #777;
}

.topbar-link,
.footer-link {
	margin-right: 18px;
}
.topbar-link.login {
    margin-right: 0;

    float: right;
}

.topbar-link:hover,
.footer-link:hover {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
footer {
    position: absolute;
    bottom: 0;
    left : 60px;
    right: 60px;

    height: 40px;
}
    .footer-inner {
        padding-bottom: 6px;
        border-top: 1px solid #e2e2e2;
    }
        .footer-bottom {
            padding-top: 9px;
            min-height: 24px;
            padding-bottom: 6px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            .footer-link {
                float: left;
                clear: none;
            }
            .footer-copyright {
                float: right;
                clear: none;

                right: 6px;
            }

/**
 * Article Editor component.
 */

.article-edit-bar {
    width: 100%;
    min-height: 30px;
    margin-bottom: 32px;
}
    .article-edit-option,
    .article-edit-option-label,
    .article-edit-option > input,
    .article-edit-option > div,
    .article-edit-option > select {
        display: inline-block;
    }
    .article-edit-option {
        margin-right: 12px;
    }
            .article-edit-option-label {
                margin-right: 3px;
            }
    .article-edit-option.style {
    }
        .article-edit-option.style > div {
        }
        .article-edit-option > select {
        }

.article-fullscreenm,
.article-window,
.article-edit {
    width: 100%;
}
.article-fullscreen {
    display: none;

    width: 100%;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;

    background: white;
}
    .article-fullscreen > .article-edit {
        position: absolute;

        width: 50%;

        left: 0;
        right: 50%;
        top: 0;
        bottom: 0;
    }

    .article-edit-header {
        width: 500px;
        margin: 24px auto 36px auto;
    }
        .article-edit-title {
            margin-top: 12px;

            -moz-box-sizing: border-box;
            box-sizing: border-box;

            width: 100%;
            text-align: center;

            font-size: 36px;
            padding: 0 12px 0 12px;

            line-height: 46px;
            height: 48px;

            overflow: hidden;
        }
        .article-edit-date,
        .article-edit-author {
            text-align: center;
            font-size: 19px;
            margin: 6px 0 0 0;
        }

    .article-edit-content {
        display: block;

        margin-top: 9px;

        width: 100%;
        min-height: 640px;
        line-height: 21px;

        -moz-box-sizing: border-box;
        box-sizing: border-box;

        padding: 9px 12px;

        overflow: hidden;
    }

